<h1>Welcome to Your Playlists</h1>

<h2>Search for a Song</h2>
<div class="rsection">
  <input [(ngModel)] = "name">
  <br>
  <input type="button" value="submit" (click)="performSearch(name)">
  <br>
  <br>
  <br>
  <h2>Add the song to your Playlist</h2>
  <table>
    <thead>
      <th>Track Name</th>
      <th>Artist Name</th>
      <th>Album Name</th>
    </thead>
    <tbody *ngFor = "">
      <td><a [href]= "track.externalURL">{{track.trackName}}</a></td>
      <td>{{track.artistName}}</td>
      <td>{{track.albumName}}</td>
    </tbody>
  </table>
  <input type="button" value="Add" (click)="someSortofAddFunction()">
  <input type="button" value="Cancel" (click)="someSortofClearFunction()">
</div>
<br>
  <br>
  <br>
<h2>Playlist Songs</h2>
<div class="rsection">
  <h2>{{playlist.name}}</h2>
  <br>
  <table>
      <thead>
          <th>Track Name</th>
          <th>Artist Name</th>
          <th>Album Name</th>
        </thead>
        <tbody>
          <tr *ngFor = "let track of tracks">
            <td>{{track.name}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.Album}}</td>
          </tr>
        </tbody>
  </table>
</div>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div>
  <h2>See Your Other Playlists</h2>
  <div class="container">
    <div *ngFor = "let playlist of playlists">
      <div class = "d-flex flex-row justify-content-between">
        <h3>{{playlist.name}}</h3>
      </div>
    </div>
  </div>
</div>



